@page "/Patients/edit"
@inject BlazorAppFullStack.Data.BlazorAppFullStackContext DB
@using BlazorAppFullStack.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>Patient</h4>
<hr />
@if (Patient is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Patient" OnValidSubmit="UpdatePatient" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="Patient.Id" value="@Patient.Id" />
                <div class="mb-3">
                    <label for="dateofbirth" class="form-label">DateOfBirth:</label>
                    <InputDate id="dateofbirth" @bind-Value="Patient.DateOfBirth" class="form-control" />
                    <ValidationMessage For="() => Patient.DateOfBirth" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="street1" class="form-label">Street1:</label>
                    <InputText id="street1" @bind-Value="Patient.Street1" class="form-control" />
                    <ValidationMessage For="() => Patient.Street1" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="street2" class="form-label">Street2:</label>
                    <InputText id="street2" @bind-Value="Patient.Street2" class="form-control" />
                    <ValidationMessage For="() => Patient.Street2" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="city" class="form-label">City:</label>
                    <InputText id="city" @bind-Value="Patient.City" class="form-control" />
                    <ValidationMessage For="() => Patient.City" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="state" class="form-label">State:</label>
                    <InputText id="state" @bind-Value="Patient.State" class="form-control" />
                    <ValidationMessage For="() => Patient.State" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="zipcode" class="form-label">ZipCode:</label>
                    <InputText id="zipcode" @bind-Value="Patient.ZipCode" class="form-control" />
                    <ValidationMessage For="() => Patient.ZipCode" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/patients">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    public Patient? Patient { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Patient ??= await DB.Patient.FirstOrDefaultAsync(m => m.Id == Id);

        if (Patient is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdatePatient()
    {
        DB.Attach(Patient!).State = EntityState.Modified;

        try
        {
            await DB.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!PatientExists(Patient!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/patients");
    }

    bool PatientExists(int id)
    {
        return DB.Patient.Any(e => e.Id == id);
    }
}
